<app-customer-modal
  #customerModalRef
  (customerSelected)="onCustomerSelected($event)"
  (customersChanged)="refreshCustomerList()"
>
</app-customer-modal>

<div class="breadcrumbs text-sm">
  <ul>
    <li>
      <a (click)="goToProductList()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="h-4 w-4 stroke-current"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
          ></path>
        </svg>
        Modulos
      </a>
    </li>
    @if (productId == 1) {
      <li>
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="h-4 w-4"
          >
            <path
              fill="currentColor"
              d="M19 8h-1V3H6v5H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3M8 5h8v3H8zm8 14H8v-4h8zm2-4v-2H6v2H4v-4c0-.55.45-1 1-1h14c.55 0 1 .45 1 1v4z"
            />
            <circle cx="18" cy="11.5" r="1" fill="currentColor" />
          </svg>
          {{ nameProduct }}
        </a>
      </li>
    } @else if (productId >= 2 && productId <= 9) {
      <li>
        <a (click)="goToVinylList()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="h-4 w-4 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
            ></path>
          </svg>
          Lista de Vinilos
        </a>
      </li>
      <li>
        <span class="inline-flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="h-4 w-4 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
            ></path>
          </svg>
          {{ nameProduct }}
        </span>
      </li>
    }
  </ul>
</div>

<div class="flex bg-white gap-6 mb-4 border-gray-200 shadow-md rounded-lg p-5">
  <label class="label font-semibold">Cliente Seleccionado:</label>
  <div class="flex items-center gap-4">
    @if (!selectedCustomer) {
      <span class="text-lg font-medium">Ninguno</span>
    }
    @if (selectedCustomer?.entity_type === "J") {
      <span class="text-lg font-medium">
        {{ selectedCustomer ? selectedCustomer.business_name : "Ninguno" }}
      </span>
    }
    @if (selectedCustomer?.entity_type === "N") {
      <span class="text-lg font-medium">
        {{
          selectedCustomer
            ? selectedCustomer.name + " " + selectedCustomer.last_name
            : "Ninguno"
        }}
      </span>
    }
  </div>
  <label class="label font-semibold">Tipo de Cliente:</label>
  <div>
    <span class="text-lg font-medium">
      {{ selectedCustomer ? selectedCustomer.type_client.name : "Ninguno" }}
    </span>
  </div>
  <button
    class="btn btn-outline btn-sm btn-primary"
    (click)="openCustomerModal()"
  >
    {{ selectedCustomer ? "Cambiar Cliente" : "Seleccionar Cliente" }}
  </button>
</div>

<div
  class="max-w-5xl mx-auto bg-white border border-gray-200 shadow-sm rounded-lg p-6"
>
  @if (productExists && productTypeExists) {
    <h2 class="text-3xl font-bold mb-2">{{ nameProduct }}</h2>
    @if (productId == 1 && selectedCustomer) {
      <p class="font-medium mb-3">
        Precio Metro Cuadrado: {{ priceBase | currency: "S/." }}
      </p>
    } @else if (productId >= 2 && productId <= 9 && selectedCustomer) {
      <p class="font-medium mb-3">
        Precio Metro Lineal: {{ priceBase | currency: "S/." }}
      </p>
    }

    @if (productId == 1) {
      <form
        [formGroup]="dimensionsForm"
        (ngSubmit)="onSubmit()"
        class="flex gap-5"
      >
        <fieldset class="fieldset">
          <legend class="fieldset-legend text-lg">Largo</legend>
          <input
            type="number"
            class="input input-neutral rounded-2xl validator"
            required
            min="0.001"
            step="0.001"
            max="100"
            formControlName="height"
          />
          <p class="validator-hint m-0">Ingresa un valor con 2 decimales</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend text-lg">Ancho</legend>
          <input
            type="number"
            class="input input-neutral rounded-2xl validator"
            required
            min="0.001"
            step="0.001"
            max="100"
            formControlName="width"
          />
          <p class="validator-hint m-0">Ingresa un valor con 2 decimales</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend text-lg">Cantidad</legend>
          <input
            type="number"
            class="input input-neutral rounded-2xl validator"
            required
            min="1"
            value="1"
            formControlName="quantity"
          />
          <p class="validator-hint m-0">Ingresa un valor entero.</p>
        </fieldset>
        <div class="flex flex-col justify-end gap-4">
          <button
            class="btn btn-outline btn-primary"
            type="button"
            (click)="onClean()"
          >
            Limpiar
          </button>
          <button class="btn btn-outline btn-primary" type="submit">
            Calcular
          </button>
        </div>
      </form>

      @if (isCalculating) {
        <div class="flex gap-5 mb-4">
          <div class="flex flex-col gap-2">
            <h3 class="text-xl font-bold">Precio</h3>
            <p>Precio base: {{ priceBase | currency: "S/." }}</p>
            <p>Total: {{ priceQuantityMS | currency: "S/." }}</p>
          </div>
          <div class="flex flex-col gap-2">
            <h3 class="text-xl font-bold">Area</h3>
            <p>Area: {{ area }} m<sup>2</sup></p>
          </div>
        </div>
        <div
          style="margin: 2rem 0; border: 2px solid #333; background: #e0e7ef"
          [style.width.px]="width * 75"
          [style.height.px]="height * 75"
        ></div>
      }

      <!-- F O R M    G I G A N T O G R A F I A-->
      @if (productId === 1) {
        <form
          class="flex flex-col gap-5 mt-4"
          [formGroup]="extraOptionGigaForm"
          (ngSubmit)="calculateExtraOptionPrice()"
        >
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            @for (option of extraOption; track $index) {
              @if (option.id === 1) {
                <label class="font-bold block mb-2">{{ option.name }}:</label>
                <select
                  formControlName="termosellado"
                  class="select select-neutral"
                >
                  <option disabled selected>Selecciona</option>
                  <option>Ancho</option>
                  <option>Largo</option>
                  <option>Ambos</option>
                  <option>Sin {{ option.name }}</option>
                </select>
              }
              @if (option.id === 2) {
                <label class="font-bold block mb-2">{{ option.name }}:</label>
                <select
                  formControlName="tuboColgante"
                  class="select select-neutral"
                >
                  <option disabled selected>Selecciona</option>
                  <option>Ancho</option>
                  <option>Largo</option>
                  <option>Ambos</option>
                  <option>Sin {{ option.name }}</option>
                </select>
              }
              @if (option.id === 3) {
                <label class="font-bold block mb-2">{{ option.name }}:</label>
                <input
                  formControlName="ojales"
                  type="number"
                  min="1"
                  placeholder="Ingrese la cantidad"
                  class="input input-neutral"
                />
              }
              @if (option.id === 4) {
                <label class="font-bold block mb-2">{{ option.name }}:</label>
                <select
                  formControlName="enmarcado"
                  class="select select-neutral"
                >
                  <option disabled selected>Selecciona</option>
                  <option>Aplicar</option>
                  <option>Sin {{ option.name }}</option>
                </select>
              }
            }
          </div>
          <button class="btn btn-outline btn-primary" type="submit">
            Agregar Extras
          </button>
        </form>
      }
    }
    @if (productId >= 2 && productId <= 9) {
      <!-- V I N I L O S -->
      <div class="tabs tabs-lift">
        <input
          type="radio"
          name="my_tabs_3"
          class="tab [--tab-bg:white] font-semibold text-lg"
          aria-label="Metro Lineal"
          checked="checked"
        />
        <div class="tab-content bg-white border-base-300 p-6">
          <form
            [formGroup]="dimensionsForm"
            (ngSubmit)="onSubmit()"
            class="flex gap-5"
          >
            <fieldset class="fieldset">
              <legend class="fieldset-legend text-lg">Largo</legend>
              <input
                type="number"
                class="input input-neutral rounded-2xl validator"
                required
                min="0.001"
                step="0.001"
                max="100"
                formControlName="height"
              />
              <p class="validator-hint m-0">Ingresa un valor con 2 decimales</p>
            </fieldset>
            <fieldset class="fieldset">
              <legend class="fieldset-legend text-lg">Ancho</legend>
              <input
                type="number"
                class="input input-neutral rounded-2xl validator"
                required
                min="0.001"
                step="0.001"
                max="1.50"
                formControlName="width"
              />
              <p class="validator-hint m-0">Ingresa un valor menor a 1.5</p>
            </fieldset>
            <fieldset class="fieldset">
              <legend class="fieldset-legend text-lg">Cantidad</legend>
              <input
                type="number"
                class="input input-neutral rounded-2xl validator"
                required
                min="1"
                value="1"
                formControlName="quantity"
              />
              <p class="validator-hint m-0">Ingresa un valor entero.</p>
            </fieldset>
            <div class="flex flex-col justify-end gap-4">
              <button
                class="btn btn-outline btn-primary"
                type="button"
                (click)="onClean()"
              >
                Limpiar
              </button>
              <button class="btn btn-outline btn-primary" type="submit">
                Calcular
              </button>
            </div>
          </form>
          @if (isCalculating) {
            <div class="flex gap-5 mb-4">
              <div class="flex flex-col gap-2">
                <h3 class="text-xl font-bold">Precio</h3>
                <p>Precio base: {{ priceBase | currency: "S/." }}</p>
                <p>Precio unitario: {{ priceUnit | currency: "S/." }}</p>
              </div>
              <div class="flex flex-col gap-2">
                <h3 class="text-xl font-bold">Area</h3>
                <p>Metro Lineal: {{ height }} m</p>
              </div>
            </div>
            <div
              style="
                margin: 2rem 0;
                border: 2px solid #333;
                background: #e0e7ef;
              "
              [style.width.px]="width * 75"
              [style.height.px]="height * 75"
            ></div>
          }

          <form
            class="flex flex-col gap-5 mt-4"
            [formGroup]="extraOptionVinForm"
            (ngSubmit)="calculateExtraOptionPrice()"
          >
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <label class="font-bold block mb-2"
                  >Laminado (elige uno):</label
                >
                @for (option of extraOption; track $index) {
                  @if (option.name.toLocaleLowerCase().includes("laminado")) {
                    <div class="mb-4">
                      <div class="flex flex-col gap-2">
                        <label class="flex items-center gap-2">
                          <input
                            type="radio"
                            [value]="option.id"
                            class="radio radio-sm radio-neutral"
                            formControlName="laminado"
                          />
                          {{ option.name }}
                        </label>
                      </div>
                    </div>
                  }
                }
              </div>
              <div>
                <label class="font-bold block mb-2"
                  >Celtex o Foam (elige uno):</label
                >
                @for (option of extraOption; track $index) {
                  @if (
                    option.name.toLocaleLowerCase().includes("celtex") ||
                    option.name.toLocaleLowerCase().includes("foam")
                  ) {
                    <div class="mb-4">
                      <div class="flex flex-col gap-2">
                        <label class="flex items-center gap-2">
                          <input
                            type="radio"
                            [value]="option.id"
                            class="radio radio-sm radio-neutral"
                            formControlName="celtexFoam"
                          />
                          {{ option.name }}
                        </label>
                      </div>
                    </div>
                  }
                }
              </div>
            </div>
            @if (extraOptionVinForm.get("celtexFoam")?.value) {
              @for (option of extraOption; track $index) {
                @if (option.name.toLowerCase().includes("mano de obra")) {
                  <div class="mb-4">
                    <div class="flex flex-col gap-2">
                      <label class="flex items-center gap-2">
                        {{ option.name }}
                      </label>
                    </div>
                    <div class="flex gap-4">
                      <fieldset class="fieldset">
                        <legend class="fieldset-legend text-lg">Largo</legend>
                        <input
                          type="number"
                          class="input input-neutral rounded-2xl validator"
                          required
                          min="0.01"
                          step="0.01"
                          max="100"
                          formControlName="height"
                        />
                        <p class="validator-hint m-0">
                          Ingresa un valor con 2 decimales
                        </p>
                      </fieldset>
                      <fieldset class="fieldset">
                        <legend class="fieldset-legend text-lg">Ancho</legend>
                        <input
                          type="number"
                          class="input input-neutral rounded-2xl validator"
                          required
                          min="0.01"
                          step="0.01"
                          max="1.50"
                          formControlName="width"
                        />
                        <p class="validator-hint m-0">
                          Ingresa un valor con 2 decimales
                        </p>
                      </fieldset>
                    </div>
                  </div>
                }
              }
            }
            <button class="btn btn-outline btn-primary" type="submit">
              Agregar Extras
            </button>
          </form>
        </div>
        <!-- Troquelado -->
        <input
          type="radio"
          name="my_tabs_3"
          class="tab [--tab-bg:white] font-semibold text-lg"
          aria-label="Troquelado"
        />
        <div class="tab-content bg-white border-base-300 p-6">
          <form
            action=""
            class="flex gap-5"
            [formGroup]="dimensionTroqueladoForm"
            (ngSubmit)="displayTroquelado()"
          >
            <fieldset class="fieldset">
              <legend class="fieldset-legend text-lg">Diametro</legend>
              <input
                type="number"
                class="input input-neutral rounded-2xl validator"
                required
                min="1"
                step="0.5"
                max="100"
                formControlName="diameter"
                required
              />
              <p class="validator-hint m-0">Ingresa un valor con 1 decimales</p>
            </fieldset>
            <fieldset class="fieldset">
              <legend class="fieldset-legend text-lg">
                Numero de Troquelado
              </legend>
              <input
                type="number"
                class="input input-neutral rounded-2xl validator"
                required
                min="1"
                step="1"
                formControlName="quantity"
                required
              />
              <p class="validator-hint m-0">Ingresa un valor con 2 decimales</p>
            </fieldset>
            <div class="flex flex-col justify-end gap-4">
              <button class="btn btn-outline btn-primary" type="submit">
                Calcular
              </button>
            </div>
          </form>
          <div class="flex gap-5">
            <div class="flex flex-col gap-2">
              <h3 class="text-xl font-bold">Medidas</h3>
              <p>Metro Lineal: {{ meterLinearTroquelado / 1000 }} m</p>
              <p>Unidades por fila: {{ unitsPerRow }}</p>
            </div>
            @if (minUnits != maxUnits) {
              <div class="flex flex-col gap-2">
                <h3 class="text-xl font-bold">Cantidad de unidades</h3>
                <p>Rango Menor: {{ minUnits }}</p>
                <p>Rango Mayor: {{ maxUnits }}</p>
                <p>
                  Se considerará la cotización con el rango mayor de unidades
                </p>
              </div>
            }
          </div>

          <form
            class="flex flex-col gap-5 mt-4"
            [formGroup]="extraOptionVinForm"
            (ngSubmit)="calculateExtraOptionPrice()"
          >
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <label class="font-bold block mb-2"
                  >Laminado (elige uno):</label
                >
                @for (option of extraOption; track $index) {
                  @if (option.name.toLocaleLowerCase().includes("laminado")) {
                    <div class="mb-4">
                      <div class="flex flex-col gap-2">
                        <label class="flex items-center gap-2">
                          <input
                            type="radio"
                            [value]="option.id"
                            class="radio radio-sm radio-neutral"
                            formControlName="laminado"
                          />
                          {{ option.name }}
                        </label>
                      </div>
                    </div>
                  }
                }
              </div>
            </div>
            <button class="btn btn-outline btn-primary" type="submit">
              Agregar Extras
            </button>
          </form>
        </div>
      </div>
    }
  } @else {
    <div class="alert alert-warning mt-4">
      El producto no existe o la ruta es inválida.
    </div>
  }
</div>
