<div class="product-type-list-container">
  @if (isLoading) {
    <div class="loading-message">
      <!-- <img src="assets/loading.gif" alt="Cargando..." class="loading-icon" /> -->
      <span class="loading-text">Cargando tipos de producto...</span>
    </div>
  }
  @if (error) {
    <div class="error-message">
      <span class="error-text">{{ error }}</span>
    </div>
  }

  <div class="bg-white rounded-box shadow-lg w-90">
    <h2 class="p-4 pb-0 text-xl font-medium">Modulos</h2>
    <ul class="p-4">
      @for (pt of productTypes; track $index) {
        <li class="mb-2 last:mb-0">
          <button
            class="btn btn-neutral btn-ghost w-full py-7"
            (click)="onSelectProductType(pt)"
          >
            <div class="flex items-center gap-4 w-full">
              <div class="text-4xl font-thin opacity-60 tabular-nums">
                {{ pt.id }}
              </div>
              <img class="size-10 rounded-box shadow-md" src="{{ pt.path }}" />
              <div class="list-col-grow">
                <div class="text-xl font-bold">{{ pt.name }}</div>
              </div>
            </div>
          </button>
        </li>
      }
    </ul>
  </div>

  @if (!isLoading && !error && productTypes.length === 0) {
    <div class="no-data-message">No hay tipos de producto registrados.</div>
  }
</div>
