<dialog #cartDialog id="cart_modal" class="modal backdrop-blur-sm">
  <div class=" modal-box max-w-5xl">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold mb-4">Carrito de Compras</h3>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th class="text-center">Codigo</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Cantidad</th>
            <th class="text-center">P. Unit</th>
            <th class="text-center">Importe</th>
          </tr>
        </thead>
        <tbody>
          @for (p of displayCart; track $index) {
          <tr>
            <th>{{$index + 1}}</th>
            <td class="font-bold">{{p.sku}}</td>
            <td class="font-bold">{{p.name}}
              @if (p.linear_meter) {
              <span class="text-gray-500 font-medium">| Metro Lineal: {{p.linear_meter}} m</span>
              }
            </td>
            <td>{{p.quantity}}</td>
            <td class="text-right">{{p.price | number:'1.2-2'}}</td>
            <td class="text-right">{{p.quantity * p.price | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td colspan="4" class="badge badge-neutral badge-outline ml-3 font-bold py-0">Extras</td>
          </tr>
          @for (extra of p.product_extra_options; track $index) {
          <tr>
            <td></td>
            <td></td>
            <td>{{extra.name}}
              @if (extra.linear_meter && extra.extra_option_id >= 5 && extra.extra_option_id <= 8) { <span>| Metro
                Lineal: {{extra.linear_meter}} m</span>
                }
                @if (extra.linear_meter && extra.extra_option_id >= 10 && extra.extra_option_id <= 13) { <span>| Largo:
                  {{extra.linear_meter}} m | Ancho: {{extra.width}}</span>

                  }
            </td>
            <td>{{extra.quantity}}</td>
            <td class="text-right">{{extra.price | number:'1.2-2' }}</td>
            <td class="text-right">{{extra.quantity * extra.price | number:'1.2-2' }}</td>
          </tr>
          }
          <tr>
            <td colspan="5" class="text-right font-bold">
              Subtotal (S/.):
            </td>
            <td class="font-bold text-right">{{p.subtotalProduct | number:'1.2-2'}}</td>
          </tr>

          }
          <tr>
            <td colspan="5" class="text-right font-bold">
              Total Carrito (S/.):
            </td>
            <td class="font-bold text-right">{{getTotalCart() | number:'1.2-2'}}</td>
          </tr>


        </tbody>
      </table>
    </div>


  </div>
</dialog>